* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  .arrow {
      flex-direction: row;
  }
}

@media (max-width: 767px) {
  .arrow {
      flex-direction: column;
  }
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}
.navbar_container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  
}
.Logo_container {
  flex: 1;
}
.Menu_container {
  flex: 3;
  
}
.Menu_list {
  display: flex;
  list-style: none;
}
.Menu_list_item {
  margin-right: 30px;
}
.Menu_list_item_feature {
  color: white;
  text-decoration: none;
  
}
.Menu_list_item.active {
  font-weight: bold;
}
/* .Sign_in_up_container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
} */
/* input {
    background-color: rgba(0, 255, 136, 0.267);
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 10px;
} */

.search {
  width: 300px;
  position: relative;
  display: flex;
  margin-left: 300px;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 45px;
  border-radius: 12px;
  outline: none;
  color: white;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin-top: 2px;
}
.profile_container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
}
.profile_text_container {
  margin-top: 0 20px;
  padding: 15px;
  cursor: pointer;
}
.profile_picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.toggle {
  margin-left: 40px;
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.toggle_icon {
  color: goldenrod;
}
.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
}
/* .Sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    
}
.left_menu_icon {
    color: white;
    font-size: 28px;
    margin-bottom: 60px;
} */
.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}
.Content_container {
  margin-left: 0px;
}
.feature_content {
  height: 50vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature_content2 {
  height: 55vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-title {
  font-size: 70px;
}

.featured-desc {
  align-items: center;
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  width: 100px;
  text-transform: uppercase;
  cursor: pointer;
}
.featured-button:hover{
  background-color: #e70634;
  transition:all ease 0.3s;
}
.movie_list_container {
  padding: 20px;
}
.movie_list_wrapper {
  position: relative;
  overflow: hidden;
}
.movie_list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.movie_list_title {
  margin-left: 30px;
  margin-bottom: 10px;
}
.movie_list_item {
  margin-right: 30px;
  margin-left: 30px;
  position: relative;
}
.movie_list_item:hover .movie_list_item_img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}
.movie_list_item:hover .movie_list_item_title,
.movie_list_item:hover .movie_list_item_desc,
.movie_list_item:hover .movie_list_item_button {
  opacity: 1;
}

.movie_list_item_img {
  width: 290px;
  height: 250px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}
.movie_list_item_title {
  background-color: #333;
  padding: 0 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 40px;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
.movie_list_item_desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 40px;
  width: 270px;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
.movie_list_item_button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 0.5s all ease-in-out;
  text-transform: uppercase;
}
.movie_list_item_button:hover {
  background-color: #e70634;
  transition:all ease 0.3s;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}
.container.active {
  background-color: white;
}

.movie_list_title.active {
  color: black;
}

.navbar_container.active {
  background-color: white;

  color: black;
}
.Menu_list_item_feature.active {
  color: black;
}

/* .sidebar.active{
    background-color: white;
} */

.left_menu_icon.active {
  color: black;
}
.searchButton.active {
  background: white;
  color: #151515;
  border: 1px solid white;
}
.searchTerm.active {
  color: #151515;
  border: 3px solid black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

.dropdown-content.active {
  background: white;
}
.dropdown .dropbtn.active {
  color: black;
}
.topnav a:hover,
.dropdown:hover .dropbtn.active {
  background: white;
  color: black;
}
.dropdown-content a.active {
  color: black;
}

@media only screen and (max-width: 940px) {
  .menu_container {
    display: none;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
  height: 50px;
  margin-top: 0px;
  cursor: pointer;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  padding-bottom: 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* .logout {
  background-color: none;
  color: white;
  font-size: 16px;
  border: none;
} */
/* .logout:hover {
 background-color: none;
 color: black;
} */
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.autocomplete-items {
  position: absolute;
  /* border: 1px solid white; */
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  /* background-color: #0F2557; */
  background-color: #292930;

  padding: 12px;
  /* border-bottom: 1px solid white;
  border-top: 1px solid white;  */
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: black;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: black !important; 
  color: white;
}
.autocomplete {
  position: relative;
  display: inline-block;
  color: white;
}

input {
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
  font-size: 16px;
}
